<footer id="cacheFlag-colophone">
    <p>Cache Flag v. {{ craft.cacheFlagCp.getVersion() }} • <a href="{{ craft.cacheFlagCp.getDocumentationUrl() }}" target="_blank" rel="noopener noreferrer">{{  'Documentation'|t('app') }}</a></p>
</footer>
