<footer id="cacheFlag-colophone">
    <p>Cache Flag v. {{ craft.cacheFlag.getVersion() }} • <a href="{{ craft.cacheFlag.getDocumentationUrl() }}" target="_blank" rel="noopener noreferrer">GitHub</a></p>
</footer>
